*{
    padding: 10px;
    margin: 10px;
    box-sizing: border-box;
    
}
body{
    padding: 10px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-color: rgba(227, 212, 239, 0.711);

}
h2{
    color: white;
    background-color:rgba(121, 179, 186, 0.684);
    padding: 15px;
    font-size: 25px;
    text-align: center;
    border-radius: 10px;
}

input[type="text"],
input[type="number"],
input[type="email"],
textarea
{
    padding: 7px;
    width: 40%;
    border-radius: 5px;
    border-style: none;
}
input[type="submit"],
input[type="reset"]{
    color: blueviolet;
    border-radius: 10px;
    border-color: antiquewhite;
    background-color: aquamarine;
    
    font-size: 17px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
input[type="submit"]:hover,input[type="reset"]:hover{
    color: rgb(180, 176, 176);
    background-color: rgb(69, 91, 144);
    cursor: pointer;
   
}

